.main{
    margin: auto;
    height: 4rem;
    width: 30%;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-gap: 11%;
}

h1{
    font-size: 100px;
    color: red;
}

h2{
    font-size: 100px;
}

.main button {
    font-size: 25px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.main button:hover{
   background-color: lightcoral;
}